<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngFor="let item of menu">
      <h4>{{item.titulo}}</h4>
      <a *ngFor="let sub of item.submenu" mat-list-item [routerLink]="sub.url">{{sub.titulo}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="nav_container">
        <span>fronEscuela</span>
        <div class="perfil">
          <p>{{ usuario.name }} {{usuario.lastName}} </p>
          <button (click)="logout()"
                  color="warn" mat-raised-button>Salir</button>
        </div>
      </div>
    </mat-toolbar>

    <div class="container">

      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
