<div class="container">

    <div class="grid-tramite">
        <form class="form_create-tramite">

            <h2>Formulairo de Tramite</h2>

            <!--! nombre y apellidos -->
            <div class="form-nombre">

                <div class="nombre">
                    <label for="">Nombre</label>
                    <div class="form-control">
                        <input class="effect-8" type="text" placeholder="Placeholder Text">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>

                <div class="apellidos">
                    <label for="">Apellidos</label>
                    <div class="form-control">
                        <input class="effect-8" type="text" placeholder="Placeholder Text">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>

            </div>

            <!--! email -->
            <div class="email">
                <label for="">Email</label>
                <div class="form-control">
                    <input class="effect-8" type="email" placeholder="Ingresa su email">
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>

            <!--! telefno y dni -->
            <div class="form-telefono-dni">
                <div class="telefono">
                    <label>Telefono</label>
                    <div class="form-control">
                        <input class="effect-8" type="tel" placeholder="Ingresa su email">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
                <div class="dni">
                    <label>Dni</label>
                    <div class="form-control">
                        <input class="effect-8" type="tel" placeholder="Ingresa su email">
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
            </div>


            <div class="matricula">
                <label>Tipo de Matricula</label>
                <select class="select-css">
                    <option>Selecciona una opción</option>
                    <option>Lunes</option>
                    <option>Martes</option>
                    <option>Miércoles</option>
                    <option>Jueves</option>
                    <option>Viernes</option>
                </select>
            </div>

            <div class="file">
                <label>File</label>
                <div class="form-control">
                    <input class="effect-8 file" type="file" placeholder="Ingresa su email">
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>

            <div class="descripcion">
                <label for="hola">Descripcion</label>
                <div class="form-control">
                    <textarea name="" class="effect-8" id="" cols="30" rows="3"></textarea>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>


            <div class="btn-container">
                <button class="button">Enviar</button>
            </div>

        </form>


        <div class="form_info-tramite">
            <h2>Seguimiento Tramite</h2>
            <div class="codigo">
                <label for="">Codigo</label>
                <div class="form-control">
                    <input class="effect-8" type="text" placeholder="Placeholder Text">
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
            </div>

            <div class="btn-container">
                <button class="button">Enviar</button>
            </div>
        </div>
    </div>

</div>
