table {
    width: 100%;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

mat-form-field {
    width: 100%;
}

.btb_primary {
    width: 100%;
    margin-bottom: 20px;
}

.green {
    background-color: rgb(91, 183, 91);
    color: white;
    margin-bottom: 10px;
}