<nav class="nav">

    <div class="nav_container font-family">

        <div>
            <img src="favicon.ico" alt="">
        </div>
        <!-- <div class="flex">
            <img src="favicon.ico" alt="">
            <p class="text-2xl text-red-400 font-bold">B</p>
            <p class="text-2xl text-green-400 font-bold">I</p>
            <p class="text-2xl text-indigo-400 font-bold">E</p>
            <p class="text-2xl text-red-400 font-bold">N</p>
            <p class="text-2xl text-yellow-400 font-bold">V</p>
            <p class="text-2xl text-green-400 font-bold">E</p>
            <p class="text-2xl text-indigo-400 font-bold">N</p>
            <p class="text-2xl text-green-400 font-bold">I</p>
            <p class="text-2xl text-yellow-400 font-bold">D</p>
            <p class="text-2xl text-pink-400 font-bold">O</p>
            <p class="text-2xl text-blue-400 font-bold">S</p>
        </div> -->

        <label for="menu" class="nav_label">
            <img class="text-white" src="assets/icons/menu.svg" alt="menu">
        </label>

        <input type="checkbox" id="menu" class="nav_input">

        <div class="nav_menu">
            <div class="nav_item" routerLink="/home">Home</div>

            <div>
                <div class="nav_item" routerLink="/auth/login">Login</div>
            </div>
        </div>

    </div>

</nav>
