<div class="card">

    <div class="card-title">
        <p>{{ profesor.name | titlecase }} {{ profesor.lastName | titlecase }}</p>
        <small>{{ 'email@hotmai.com' }}</small>
    </div>

    <div class="card-body">
        <div>
            <p>Grado y Seccion: </p>
            <span>{{ profesor. gradoSeccion}}</span>
        </div>

        <div>
            <p>Telefono: </p>
            <span>{{ profesor.telefono }}</span>
        </div>
    </div>

    <div class="card-footer">

    </div>

</div>
